:root {
    --branco-principal: #c4c4c4;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
.principal {
    background-image: urul(Background.png) ;
}
